* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body
  {
      font-family: Arial, Helvetica, sans-serif;
      background: #f1f1f1;
  }
  nav
  {
      background: #2222;
      padding: 5px 20px;
  }
  ul
  {
      list-style-type: none;
  }
  a
  {
      color: white;
  }
  a:hover 
  {
      text-decoration: underline;
  }
  .logo a:hover
  {
      text-decoration: none;
  }
  .menu li
  {
      font-size: 16px;
      padding: 15px 5px;
      white-space: nowrap;
  }

.logo a,
.toggle a
{
     font-size: 20px;   
}

.button-secondary
{
    border-bottom: 1px solid #444;
}

/*mobile menu*/

menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
}
.item button{
    order: 2;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active{
    display: block;
}

/*tabletmenu*/
@media all and (min-width: 600px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .toggle{
        flex: 1;
        text-align: right;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }

}


