* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: #f1f1f1;
  }

.footer{
    background-color: #000058;
    padding: 20px 20px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:white;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.text-desc-truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}