* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      font-family: Arial, Helvetica, sans-serif;
      background: #ffffff;
  }

  nav{
      background: #000058;
      padding: 5px 20px;
  }

  ul{
      list-style-type: none;
  }

  a{
      color: white;
  }
  a:hover 
  {
      text-decoration: underline;
  }
  .logo a:hover
  {
      text-decoration: none;
  }
  .menu li
  {
      font-size: 16px;
      padding: 15px 5px;
      white-space: nowrap;
  }

.logo a,
.toggle a
{
     font-size: 20px;   
}



/*mobile menu*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
}
.item button{
    order: 2;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active{
    display: block;
}

/*tablet menu*/
@media all and (min-width: 600px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;  
    }
    .toggle{
        flex: 1;
        text-align: right;
    }
    .item.button{  
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }
    .button-secondary{
        border: 0;
    }
    .button a{
        padding: 7px 15px;
        background: pink;
        border: 1px solid pink;
    }
    .button-secondary a{
        background: transparent;
    }
    .button a:hover{
        text-decoration: none;
    }
    .button:not(.secondary) a:hover{
        background: white;
        border-color: white;
    }
    .button-secondary a:hover{
        color: #ddd; 
    }
}

/*desktop*/
@media all and (min-width: 900px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
    }
    .button{
        order: 2;
    }
    .menu li{
        padding: 15px 10px;
    }
    .menu li button{
        padding-right: 0px ;
    }
    
}

/*travel_login-css*/
.ct{
    background-color: #b9b5b546;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    border-radius: 10px;
}
.bg-lg{
    background: #c3f5f9;
}
.bt-lg{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border-color: aqua;
    background-color: rgb(238, 237, 237);
}

/*register-design-css*/
.rg-div-1{
    background-color: rgba(136, 207, 209, 0.548);
    width: 600px;
    height: 550px;
    margin-top: 100px;
    border-radius: 10px;
}

#day{
    width: 50px;
}

#bt-rg1{
    width: 120px;
    height: 45px;
    border-radius: 25px;
    border-color: coral;
}
